*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    h1{
        text-align: center;
        color: white;
        margin-bottom: 100px;
    }
    background-color: #523924;
}

#botao1{
    margin-bottom: 20px;
    display: block;
    background-color: violet;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

#botao2{
    @extend #botao1;
    background-color: brown;
}